.window-frame {
  position: relative;
  z-index: 100;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  box-shadow: var(--frame-drop-default-shadow), var(--frame-drop-bottom-shadow);
  min-height: 100px;
  /* height: 100%; */
  /* padding-bottom: 30px; */

  .contents {
    height: 100%;
    /* padding: 12px 12px 0 12px; */
  }
  
  &.light-active,
  &.light-active-not {
    background-color: var(--white);

    &.blur {
      background-color: var(--light-inactive-bg-opacity);
    }
  }
  &.light-inactive {
    background-color: var(--light-inactive-bg-opacity);
  }

  &.dark-active,
  &.dark-active-not {
    background-color: var(--dark-window-bg);

    &.blur {
      background-color: var(--dark-window-bg-opacity);
    }
  }
  &.dark-inactive {
    background-color: var(--dark-window-bg);
  }
}