.profile-header {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.profile {
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
  gap: 5rem;
}
.profile-img {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: linear-gradient(45deg, var(--insta-yellow), var(--insta-orange), var(--insta-purple));
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9.375rem;
    height: 9.375rem;
    background-color: var(--white);
    border-radius: 50%;
    padding: 0.5rem;
  }
}
.profile-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .follow-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
  .follow-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 0.875rem;

    dt {
      font-weight: 600;
    }
    dl {
      font-weight: 400;
    }
  }
}
.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .button-group {
    display: flex;
    gap: 0.5rem;

    button {
      background-color: var(--insta-button-gray);
      border-radius: 0.5rem;
      color: var(--black);
      padding: 0.5rem 1rem;

      &:hover {
        background-color: var(--insta-button-gray-hover);
      }
    }
  }
}

.story-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-srtart;
  align-items: center;
  padding: 0 1.875rem;
}

.story-item {
  background-color: var(--white);
  border: 1px solid var(--insta-button-gray);
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;

  figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    outline: 2px solid var(--insta-button-gray-hover);
  }
}