@import 'tailwindcss';
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .scrollbar-hide {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
